andet/AmericanoSystem.xlsx
andet/Noter.docx
andet/Eksamen programmering.jpg
andet/Projektbeskrivelse.pdf
andet/Projektbeskrivelse.docx
__pycache__/tournament.cpython-313.pyc
__pycache__/player.cpython-313.pyc
__pycache__/match.cpython-313.pyc
Projektbeskrivelse.docx
main.py
main.py
kode/__pycache__/match.cpython-313.pyc
kode/__pycache__/player.cpython-313.pyc
kode/__pycache__/tournament.cpython-313.pyc
